[user]
	name = Misanthrop
	email = misanthrop.vg@gmail.com
[push]
	default = simple
[color]
	ui = true
[core]
	editor = micro
[alias]
	hist = log --pretty='%Cred%h%C(auto) %s %Cgreen(%cr) %C(magenta)%an <%ae>%Creset' --graph
